body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .page-container {
    &.loading {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
    }
  }
}

@import './shared/form';
@import '~pages/Home/style';
@import '~components/Task/style';
